* {
  /* reset universal*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 
  background-image: url(./assets/bg-mobile-dark\ \(1080x1920\).jpg); /*chama a imagem da pasta assets
  background-repeat: no-repeat; /* evita a repetição da imagem
  background-position: top center; /* eixo y da imagem a partir do seu ponto inicial e eixo x centralizado
  background-size: cover; /* imagem cobre toda a viewport*/

  /* Os atributos acima em shorthand: */
  background: url(./assets/bg-mobile-dark-1080x1920.jpg) no-repeat top
    center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  /*margin: auto; /* centraliza caixas que possuem largura fixa. Divide automaticamente o espaço vazio po2, e insere as partes em ambos os lados */
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  /* elemento pai de img editando o alinhamento do elemento filho */
  text-align: center;
  padding: 24px;
}

#profile img {
  /*display: inline-block; /* Mantém as props. inline mas permite também a aplicação de props. do tipo block*/
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* links */
ul {
  list-style: none; /* retira os bulletpoints */
  display: flex;
  flex-direction: column;
  gap: 16px; /* espaço entre os elementos */
  padding: 24px 0;
}

ul li a {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px); /* efeito de embaçamento */
  -webkit-backdrop-filter: blur(
    4px
  ); /* Prefixo que alguns browser irão precisar para liberar o efeito. Deixando o mouse parado e em cima podemos ver quais serão. */
  text-decoration: none; /* tira a linha de baixo dos textos */
  font-weight: 500;
  transition: background 0.2s; /* transição mais suave */
}

/* pseudo-selector */
ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white;
}

/*social links*/

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%; /* borda c/raio de 50% forma o círculo perfeito */
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}
